html, body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

button{
  position: absolute;
  top: 5%;
  left: 40%;
  width: auto;
  height: auto;
  padding: 3%;
  margin: 0;
}

canvas{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%
  height: 100%;
}

#someinfo{
  position: absolute;
  bottom:1%;
  left: 1%;
  width : 98%;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1em;
}
